<div class="container">
  <div class="row">
    <div  class="formGroup">
      <div>

      </div>
      <div class="col-md-6 offset-md-3">
        <div [formGroup]="createdForm" (ngSubmit)="onSubmit()"  *ngFor = "let person of personList" >
          <div *ngFor="let id of personList">
            <div *ngIf="this.id.id  == this.person.id">
              <div class="form-group">
                <label>First Name</label>
                <input type="text" formControlName="name" class="form-control" value="{{person.name}}" />
              </div>
              <div class="form-group">
                <label>Last Name</label>
                <input type="text" formControlName="lastname" class="form-control"  value="{{person.name}}" />
              </div>
              <div class="form-group">
                <label>country</label>
                <input type="text" formControlName="country" class="form-control"  value="{{this.person.name}}"/>
              </div>
              <div class="form-group">
                <button class="btn btn-primary"  type="button" (click)="onSubmit()">Edit the Person</button>
              </div>
            </div>
          </div>
        </div>
        <button mat-button mat-dialog-close>Cancel</button>
      </div>
    </div>
  </div>
</div>
