
.person-ul-div{
  display: flex;
  justify-content: center;

}
.person-li{
  margin-top: 5px;
  cursor: pointer;
}
.person-li:hover {
 background-color: #5a9cbb;
}
.btn{
  margin-left: 10px;
}
.btn-delete{
  background-color: red;
}
input{
  margin-top: 5px;
}
.formPerson{
  display: flex;
  justify-content: center;
}
.h3-list{
  border: aqua;
}
.label{
  text-decoration-color: white;
}
