.person-ul-div{
  display: flex;
  justify-content: center;
}
.person-li{
  margin-top: 2%;
  cursor: pointer;
}
.person-li:hover {
 background-color: #5a9cbb;
}
.btn{
  margin-left: 5%;
}
.btn-delete{
  background-color: red;
}
input{
  margin-top: 2%;
}
.formPerson{
  display: flex;
  justify-content: center;
}
.h3-list{
  border: aqua;
}
.label{
  text-decoration-color: white;
}
.btn-add{
  justify-content: end;
  text-align: center;
}
